# URL del proyecto que se va a probar
BASE_URL=url del proyecto que se va a probar

# Credenciales de usuario para pruebas
USER_VALIDO=dato de usuario válido
PASS_VALIDO=dato de contraseña válido
USER_INVALIDO=dato de usuario inválido
PASS_INVALIDO=dato de contraseña inválido