# URL del proyecto que se va a probar
BASE_URL=https://automationexercise.com/

# Credenciales de usuario para pruebas de LOGIN
USER_VALIDO=dato de usuario válido
PASS_VALIDO=dato de contraseña válido
USER_INVALIDO=dato de usuario inválido
PASS_INVALIDO=dato de contraseña inválido

# Datos para pruebas de REGISTRO
REGISTRO_NOMBRE=dato de nombre para registro
REGISTRO_EMAIL=dato de email para registro
REGISTRO_PASS=dato de contraseña para registro