# Variables de entorno locales
.env

# Archivos temporales
__pycache__/
*.pyc
.pytest_cache/

# Entornos virtuales
venv/
.venv/

# Evidencias generadas por pytest
evidencias/

# IDE
.vscode/
.idea/

# Logs
*.log